<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Cave.Extensions" publicKeyToken="65480c9a544d67e6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.12.0" newVersion="3.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cave.IO" publicKeyToken="9c6246ce3e4f0673" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
